html,
body {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}
.tittle {
  padding-bottom: 0.2rem;
  width: 3.2rem;
  height: 3.7rem;
  display: flex;
  margin-bottom: 0.13rem;
  background-color: white;
  justify-content: space-between;
  flex-direction: column;
}
.tittle > img {
  width: 3.2rem;
  height: 1.85rem;
  margin-bottom: 0.2rem;
}
.tittle .a {
  font-size: 0.18rem;
  font-weight: bold;
  margin-left: 0.2rem;
}
.tittle .price {
  font-size: 0.14rem;
  margin: 0.1rem 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tittle .price a {
  color: #dd686e;
}
.tittle .price img {
  width: 0.18rem;
  height: 0.26rem;
}
.tittle .time {
  margin-left: 0.2rem;
  color: #d4d4d4;
  font-size: 0.14rem;
  margin-bottom: 0.2rem;
}
.tittle .jies {
  margin-left: 0.2rem;
}
.tittle .jies span {
  font-size: 0.14rem;
  margin-right: 0.1rem;
  padding: 0.05rem;
  color: #979797;
  background-color: #dee9f0;
}
.fangyuan {
  font-size: 0.14rem;
  padding: 0 0.2rem;
  background-color: white;
  margin-bottom: 0.12rem;
}
.fangyuan li {
  height: 0.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c8c8c8;
}
.fangyuan li span {
  width: 1rem;
  margin-right: 0.4rem;
}
.fangyuan .gengduo {
  border: none;
  margin-left: 1rem;
  color: #c8c8c8;
}
.huxing {
  background-color: white;
  padding: 0 0.2rem;
}
.huxing li:nth-child(1) {
  height: 0.5rem;
  font-size: 0.2rem;
  line-height: 0.5rem;
  border-bottom: 1px solid #c8c8c8;
  color: #ffa546;
}
.huxing li:nth-child(2),
.huxing li:nth-child(3) {
  height: 1.2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dd686e;
}
.huxing li:nth-child(2) img,
.huxing li:nth-child(3) img {
  width: 0.71rem;
  height: 0.71rem;
  margin-right: 0.07rem;
}
.huxing li:nth-child(2) > div,
.huxing li:nth-child(3) > div {
  display: flex;
  height: 0.8rem;
  flex-direction: column;
  justify-content: space-between;
}
.huxing li:nth-child(2) > div > span:nth-child(1),
.huxing li:nth-child(3) > div > span:nth-child(1) {
  font-size: 0.18rem;
}
.huxing li:nth-child(2) > div > span:nth-child(2),
.huxing li:nth-child(3) > div > span:nth-child(2) {
  font-size: 0.12rem;
}
.huxing li:nth-child(2) > div div span,
.huxing li:nth-child(3) > div div span {
  font-size: 0.12rem;
  background-color: #f4f7f9;
  padding: 0.05rem;
  margin-right: 0.08rem;
}
.huxing li:nth-child(3) {
  border: none;
}
.school {
  margin-bottom: 0.12rem;
  background-color: white;
}
.school li {
  font-size: 0.12rem;
  margin: 0 0.2rem;
  line-height: 0.5rem;
  height: 0.5rem;
  border-bottom: 1px solid #c8c8c8;
}
.school li a {
  color: #c8c8c8;
}
.school li:nth-child(1) {
  font-size: 0.2rem;
}
.school li:last-child {
  color: #c8c8c8;
  text-align: center;
}
.map {
  background-color: white;
  padding: 0 0.2rem;
}
.map li:nth-child(1) {
  height: 0.55rem;
  font-size: 0.2rem;
  line-height: 0.5rem;
  border-bottom: 1px solid #c8c8c8;
}
.map li:nth-child(2) {
  padding-top: 0.2rem;
  height: 2rem;
}
#container {
  width: 2.8rem;
  height: 1.55rem;
}
.zhaofang_s {
  width: 100%;
  height: 1.05rem;
  background-color: #2f3130;
  font-size: 0.14rem;
  padding: 0 0.15rem;
  color: #5d5e5d;
}
.zhaofang_s .zhao_t {
  height: 0.4rem;
  line-height: 0.4rem;
  border-bottom: 1px solid #5d5e5d;
}
.zhaofang_s .zhao_b {
  width: 100%;
  height: 0.65rem;
  display: flex;
  align-items: center;
}
.zhaofang_s .zhao_b div {
  width: 1.1rem;
  height: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.zhaofang_s .zhao_b div img {
  width: 0.25rem;
  height: 0.25rem;
}
.zhaofang_s .zhao_b .and {
  margin-left: 0.3rem;
}
.footer {
  position: relative;
  width: 100%;
  height: 0.5rem;
  background-color: #2f3130;
}
.footer .bianhao {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 0.12rem;
  color: #5d5e5d;
}
